@{
    ViewData["Title"] = "Add University";
}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-3 tab-card">
                    <div class="card-header tab-card-header default-color">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist" style="background-color: #2bbbad">
                            <li class="nav-item active">
                                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Add University</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <form name="my-form" autocomplete="off" action="/SiteAdmin/AddUniversity" method="post">
                                <div class="form-group row">
                                    <label for="UniversityName" class="col-sm-2 col-form-label">University Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control elem" placeholder="University name" name="UniversityName" required="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Email" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control elem" placeholder="Email" name="Email" autocomplete="nope" required="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Password" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control elem" placeholder="Password" name="Password" autocomplete="new-password" required="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control elem" placeholder="Confirm password" name="ConfirmPassword" autocomplete="off" required="" />
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-cyan btn-sm">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>