@model List<Domain.Entities.University>;

@{
    ViewData["Title"] = "Universities";
}

@if (User.IsInRole("SiteAdmin"))
{
    <button class="btn btn-default my-4 waves-effect z-depth-0" onclick="location.href = '@Url.Action("AddUniversity", "SiteAdmin")'">
        <i></i>Add University
    </button>
}



<table class="content-table table table-hover">
    <thead>
        <tr>
            <th scope="col" style="text-align:center">University</th>
            <th scope="col" style="text-align:center">Admin</th>
        </tr>
    </thead>
    @foreach (var university in Model)
    {
        <tr style="text-align:center" onclick="window.location='@Url.Action("GetUniversity", "UniversityAdmin", new { id = university.Id})'">
            <td>
                <h3>
                    @university.Name
                </h3>
            </td>
            <td>
                <h3>
                    @university.User.Email
                </h3>
            </td>
        </tr>
    }
</table>
