@{
    ViewData["Title"] = "Universities";
}

<button class="btn btn-outline-primary waves-effect btn-sm" onclick="location.href = '@Url.Action("AddUniversity", "SiteAdmin")'">
    <i></i>Add University
</button>