@model List<Domain.Entities.University>;
    @{
        ViewData["Title"] = "Universities";
    }

<button class="btn btn-outline-primary waves-effect btn-sm" onclick="location.href = '@Url.Action("AddUniversity", "SiteAdmin")'">
    <i></i>Add University
</button>

<table class="content-table table table-hover">
    <thead>
        <tr>
            <th scope="col" style="text-align:center">University</th>
            <th scope="col" style="text-align:center">Admin</th>
            <th scope="col" style="text-align:center"></th>
        </tr>
    </thead>
    @foreach (var university in Model)
    {
        <tr style="text-align:center" ;>
            <td>
                <h3>
                    @university.Name
                </h3>
            </td>
            <td>
                <h3>
                    @university.User.Email
                </h3>
            </td>
            <td>
                <button class="btn btn-outline-primary waves-effect btn-sm" onclick="location.href='@Url.Action()'">
                    <i class="far fa-gem mr-2" aria-hidden="true"></i>Edit
                </button>
            </td>
        </tr>
    }
</table>
