/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a { color: #0366d6; }

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}


body {
    /* Margin bottom by footer height */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer {
    background-color: #d9d9d9;
    bottom: 0;
    color: #007BFF;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.nav {
    background-color: #d9d9d9;
    color: #000000;
}

#universityphoto {
    height: 30px;
    width: 30px;
}

#exitphoto {
    height: 30px;
    width: 30px;
}

#profilephoto {
    height: 30px;
    width: 30px;
}

#welcomelink {
    font-weight: 600;
    text-transform: uppercase;
}

#newitemphoto {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    height: 35px;
    transition: transform .8s ease-in-out;
    width: 35px;
}

#newitemlink {
    height: 50px;
    width: 50px;
}

#newitemphoto:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.content-table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 15);
    font-size: 0.9em;
    margin: 25px 0;
    min-width: 400px;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

.content-table th
.content-table td { padding: 12px 15px; }

.content-table tbody tr {
    background-color: white;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-last-of-type(even) { background-color: #f3f3f3; }

.content-table tbody tr:last-of-type { border-bottom: 2px solid #009879; }

.content-table tbody tr:hover { color: #009879; }

.universityphoto {
    margin-bottom: 8px;
    max-height: 80px;
    width: 100%;
}

.uploadphoto {
    max-height: 80px;
    padding-bottom: 8px;
    width: 50px;
}

.photoupload { display: none; }

.photointable {
    height: 100px;
    width: 300px;
}

#deleteicon {
    height: 20px;
    position: absolute;
    right: -8px;
    top: -5px;
    width: 20px;
}

#deleteicon:hover {
    height: 25px;
    width: 25px;
}

#photodiv { position: relative; }


.editicon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -30px;
    left: -28px;
    height:45px;
}

.editicon:active {
    animation: editmove 1.5s;
}

@keyframes editmove{
    25% {
        left: 0px;
    }
    60% {
        left:-10px;
    }
    100% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.rowedit{
    position:relative;
}

#campaigntitle{
    color:white;
}

tr{
   cursor:pointer;
}

#graph{
    width:20px;
    height:25px;
}

#calendar {
    width: 25px;
    height: 25px;
}

#searchspec{
    border:2px solid;
    border-color:lightblue;
    border-left-width:1px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:100%;
}

.dropdown-content {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropitem {
    border-radius: 6px;
    text-align: left;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 2px;
    width: 90%;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: lightblue;
}

#searchdiv {
    background-color: whitesmoke;
    color: black;
}

#searchinput {
    border-bottom-color: #6F89C8;
}


#searchname::-webkit-scrollbar {
    width: 0px;
}

#ratingdiv {
    height: 78vh;
    border: 1px solid rgba(0, 150, 136, 0.7);
}

.rating-table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 15);
    font-size: 0.9em;
    margin: 25px 0;
    min-width: 400px;
    overflow: hidden;
    width: 90%;
}

.rating-table tr {
    border-bottom: 2px solid black;
    max-height: 30px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.outer {
    overflow-y: auto;
    max-height: 67.5vh;
}

.outer {
    width: 100%;
}

.ratingcontent{
    font-weight:600;
}

.outer::-webkit-scrollbar{
    width:1px;
}