@model Application.Models.User.UserProfileModel;


    <form id="docsupload" name="my-form" autocomplete="nope" action="/User/AddDocs" method="post"
          enctype="multipart/form-data">
        <div class="row m-0 p-0">
            <div class="col-sm text-center">
                <div class="d-inline-flex">
                    <h5 id="passh" class="mr-1"><b>Passport</b></h5>
                    @if (Model.Docs.Passport != null)
                    {
                        <a href="~/Docs/@Model.id/@Model.Docs.Passport">Open</a>
                    }
                </div>
                <a onclick="invokepassportinput()">
                    <img src="~/systemphotos/passport.png" width="150" height="150" />
                </a>
                <input onchange="docchanged('passh','Passport')" required="" type="file" name="uploads" class="noneinput" id="passportinput"
                       aria-describedby="inputGroupFileAddon01">
            </div>

            <div class="col-sm text-center">
                <div class="d-inline-flex">
                    <h5 id="schoolh" class="mr-1"><b>School</b></h5>
                    @if (Model.Docs.Certificate != null)
                    {
                        <a href="~/Docs/@Model.id/@Model.Docs.Certificate">Open</a>
                    }
                </div>
                <a onclick="invokeschoolinput()">
                    <img src="~/systemphotos/school.png" width="150" height="150" />
                </a>
                <input onchange="docchanged('schoolh','School')" required="" type="file" name="uploads" class="noneinput" id="schoolcertificateinput"
                       aria-describedby="inputGroupFileAddon01">
            </div>

            <div class="col-sm text-center">
                <div class="d-inline-flex">
                    <h5 id="znoh" class="mr-1"><b>ZNO</b></h5>
                    @if (Model.Docs.Zno != null)
                    {
                        <a href="~/Docs/@Model.id/@Model.Docs.Zno">Open</a>
                    }
                </div>
                <a onclick="invokeznoinput()">
                    <img src="~/systemphotos/exam.png" width="150" height="150" />
                </a>
                <input onchange="docchanged('znoh','ZNO')" required="" type="file" name="uploads" class="noneinput" id="znoinput"
                       aria-describedby="inputGroupFileAddon01">
            </div>
        </div>
        <div class="row">
            @if (Model.Docs.Passport != null)
            {
                <div class="col-sm text-center pt-3">
                    <button type="submit" style="display:none" class="btn btn-default my-4 waves-effect z-depth-0">Update</button>
                </div>
            }
            else
            {
                <div class="col-sm text-center pt-3">
                    <button type="submit" class="btn btn-default my-4 waves-effect z-depth-0">Update</button>
                </div>
            }
        </div>
    </form>