@model Application.Models.User.UserProfileModel;

<form name="my-form" action="/User/AddMarks" method="post">


    <div class="form-group row">
        <label for="Znos" class="col-sm-2 col-form-label">First Zno </label>
        <div class="col-sm-5">
            <div class=" oneline">

                <select id="firstsub" asp-for="MarksModel.FirstZno.Name" name="MarksModel.FirstZno.Name">
                    <option disabled selected="selected">Ukrainian</option>
                </select>



            </div>
            <div class="col-sm-5 oneline">
                <input type="text" class="form-control elem" placeholder="Mark" name="MarksModel.FirstZno.Mark"  required="" />

            </div>


        </div>




    </div>
    <div class="form-group row">
        <label for="Znos" class="col-sm-2 col-form-label">Second Zno </label>
        <div class="col-sm-5">
            <div class=" oneline">



                <select required="" onchange="doSomething(this)" asp-for="MarksModel.SecondZno.Name" name="MarksModel.SecondZno.Name" id="MarksModel.SecondZno.Name">
                    <option disabled selected> -- select an option -- </option>
                    <option name='1'>Math</option>
                    <option name='2'>Geography</option>
                    <option name='3'>History</option>
                    <option name='4'>English</option>
                    <option name='5'>Spanish</option>
                    <option name='6'>French</option>
                    <option name='7'>Germany</option>
                    <option name='8'>Biology</option>
                    <option name='9'>Physics</option>
                    <option name='10'>Chemistry</option>
                </select>



            </div>
            <div class="col-sm-5 oneline">
                <input type="text" class="form-control elem" placeholder="Mark" name="MarksModel.SecondZno.Mark" required="" />

            </div>


        </div>




    </div>
    <div class="form-group row">
        <label for="Znos" class="col-sm-2 col-form-label">
            Third Zno
        </label>
        <div class="col-sm-5">
            <div class=" oneline">
                <select required="" onchange="doSomething(this)" asp-for="MarksModel.ThreedZno.Name" name="MarksModel.ThreedZno.Name" id="MarksModel.ThreedZno.Name">
                    <option disabled selected> -- select an option -- </option>
                    <option name='1'> Math</option>
                    <option name='2'>Geography</option>
                    <option name='3'>History</option>
                    <option name='4'>English</option>
                    <option name='5'>Spanish</option>
                    <option name='6'>French</option>
                    <option name='7'>Germany</option>
                    <option name='8'>Biology</option>
                    <option name='9'>Physics</option>
                    <option name='10'>Chemistry</option>
                </select>

            </div>
            <div class="col-sm-5 oneline">
                <input type="text" class="form-control elem" placeholder="Mark" name="MarksModel.ThreedZno.Mark"  required="" />

            </div>


        </div>




    </div>
    <div class="form-group row">
        <label for="Znos" class="col-sm-2 col-form-label">Four Zno </label>
        <div class="col-sm-5">
            <div class=" oneline">

                <select required="" onchange="doSomething(this)" asp-for="MarksModel.FourZno.Name" name="MarksModel.FourZno.Name" id="MarksModel.FourZno.Name">
                    <option name='1'> Math</option>
                    <option name='2'>Geography</option>
                    <option name='3'>History</option>
                    <option name='4'>English</option>
                    <option name='5'>Spanish</option>
                    <option name='6'>French</option>
                    <option name='7'>Germany</option>
                    <option name='8'>Biology</option>
                    <option name='9'>Physics</option>
                    <option name='10'>Chemistry</option>
                    <option name='11' selected> None</option>
                </select>
            </div>
            <div class="col-sm-5 oneline">
                <input type="text" class="form-control elem" placeholder="Mark" name="MarksModel.FourZno.Mark"  required="" />

            </div>


        </div>




    </div>

    <div>
        <button type="submit" class="btn btn-default my-4 waves-effect z-depth-0">Update</button>
    </div>
</form>

