@model Application.Models.User.UserProfileModel;
    <form name="my-form" action="/User/AddMarks" method="post">


        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">First Zno </label>
            <div class="col-sm-5">
                <div class=" oneline">

                    <select id="firstsub" name="firstsub">
                        <option disabled selected="selected">Ukrainian</option>
                    </select>
                    


                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.ZNOs["Ukrainian"]" required="" />

                </div>


            </div>




        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Second Zno </label>
            <div class="col-sm-5">
                <div class=" oneline">

               

                    <select onchange="doSomething(this)" name="secondsub" id="secondsub">
                        <option disabled selected > -- select an option -- </option>
                        <option name='1'> Math</option>
                        <option name='2'>Geography</option>
                        <option name='3'>History</option>
                        <option name='4'>English</option>
                        <option name='5'>Spanish</option>
                        <option name='6'>French</option>
                        <option name='7'>Germany</option>
                        <option name='8'>Biology</option>
                        <option name='9'>Physics</option>
                        <option name='10'>Chemistry</option>
                    </select>



                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">  Third Zno
            </label>
            <div class="col-sm-5">
                <div class=" oneline">
                    <select onchange="doSomething(this)" name="thirdsub" id="thirdsub">
                        <option disabled selected > -- select an option -- </option>
                        <option name='1'> Math</option>
                        <option name='2'>Geography</option>
                        <option name='3'>History</option>
                        <option name='4'>English</option>
                        <option name='5'>Spanish</option>
                        <option name='6'>French</option>
                        <option name='7'>Germany</option>
                        <option name='8'>Biology</option>
                        <option name='9'>Physics</option>
                        <option name='10'>Chemistry</option>
                    </select>

                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Four Zno </label>
            <div class="col-sm-5">
                <div class=" oneline">
                    
                    <select onchange="doSomething(this)" name="foursub" id="foursub">
                        <option disabled selected > -- select an option -- </option>
                        <option name='1'> Math</option>
                        <option name='2'>Geography</option>
                        <option name='3'>History</option>
                        <option name='4'>English</option>
                        <option name='5'>Spanish</option>
                        <option name='6'>French</option>
                        <option name='7'>Germany</option>
                        <option name='8'>Biology</option>
                        <option name='9'>Physics</option>
                        <option name='10'>Chemistry</option>
                    </select>
                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>

        <div>
            <button type="submit" class="btn btn-default my-4 waves-effect z-depth-0">Update</button>
        </div>
    </form>

@section Scripts{

    <script>

    </script>
}