@model Application.Models.User.UserProfileModel;

@{
    ViewData["Title"] = "Profile";
}

<div class="container" style="width: 800px">
    <div class="row">
        <div class="col">
            <div class="card mt-3 tab-card">
                <div class="card-header tab-card-header default-color">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist" style="background-color: #2bbbad">
                        <li class="nav-item active">
                            <a class="nav-link active" style="color: #000000" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Personal info</a>
                        </li>
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color: #000000" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Documents</a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" style="color: #000000" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="true">Marks</a>
                            </li>
                        }
                        <li class="nav-item active">
                            <a class="nav-link" style="color: #000000" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="Four" aria-selected="true">Change password</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                        @await Html.PartialAsync("SetPersonalInfo_Partial", Model)
                    </div>

                    @if (User.IsInRole("User"))
                    {
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            @await Html.PartialAsync("AddDocs_Partial", Model)
                        </div>
                        <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                            @await Html.PartialAsync("Marks_Partial", Model)
                        </div>
                    }

        

                    <div class="tab-pane fade p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
                        @await Html.PartialAsync("ChangePassword_Partial", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>